:root{
    --primary-color: #023047;
    --secondary-color: #ffb703;
    --light-color: #e8e8e8;
}

footer{
    height             : 130px;
    display            : flex;
    justify-content    : space-between;
    flex-wrap          : nowrap;
    align-items        : center;
    background-color   : var(--primary-color);
    color              : #fff;
    font-size          : 1.2rem;
}

li a{
    color: var(--light-color);
    text-decoration: none;
}

li a:hover{
    color: var(--light-color)
}

/* contacts */
.container-contacts{
    width              : 400px;
    display            : inline-block;
    
}

.container-contacts ul{
    margin: 0;
}

/* text copyright */
.copy{
    width              : 400px;
    text-align: center;
    display            : inline-block;
}

/* social media "links"*/
.container-social-media{
    width              : 400px;
    text-align         : center;
    float              : right;
}

.container-social-media ul{
    margin: 0;
    padding: 0;
}

.list-social-media{
    width              : 400px;
    display            : inline-flex;
    justify-content    : right;
    font-size          : 3rem;
}

.list-contacts, .list-social-media{
    list-style-type: none;
}

.list-social-media li{
    margin-right: 15px;
}

.bi-twitter{
    margin-right: 50px;
}

/* icons contacts */
.bi-envelope-fill, .bi-geo-alt-fill, .bi-telephone-fill{
    font-size: 1.2rem;
    color: var(--secondary-color);
}
