:root{
    --primary-color: #023047;
    --secondary-color: #ffb703;
    --light-color: #e8e8e8;
}

footer{
    position           : relative;
    z-index            : 1000;
    height             : 130px;
    display            : flex;
    justify-content    : space-between;
    flex-wrap          : nowrap;
    align-items        : center;
    background-color   : var(--primary-color);
    color              : var(--light-color);
    font-size          : 1.5rem;
}

/* contacts */
.container-contacts{
    width              : 400px;
    display            : inline-block;
    
}

.container-contacts ul{
    margin: 0;
}

/* text copyright */
.copy{
    width              : 400px;
    text-align: center;
    display            : inline-block;
}

/* social media "links"*/
.container-social-media{
    width              : 400px;
    text-align         : center;
    float              : right;
}

.container-social-media ul{
    margin: 0;
    padding: 0;
}

.list-social-media{
    width              : 400px;
    display            : inline-flex;
    justify-content    : right;
    font-size          : 3rem;
}

.list-contacts, .list-social-media{
    list-style-type: none;
}

.list-social-media li{
    margin-right: 15px;
}

.bi-twitter{
    margin-right: 50px;
}

/* icons contacts */
.bi-envelope-fill, .bi-geo-alt-fill, .bi-telephone-fill{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

@media only screen and (max-width:1366px) {
    footer{
        width: 100%;
        font-size: 1.2rem;
        align-items: center;
    }
    .container-contacts{
        padding-top: 25px;
    }
    
    .container-social-media{
        padding-top: 25px;
    }

    .copy {
        padding-top: 25px;
    }
}
