:root{
    --my-primary-color: #023047;
    --my-secondary-color: #ffb703;
    --my-light-color: #e8e8e8;
}



header{
    height: 92px;
    background-color: var(--my-primary-color);
    position: relative;
    z-index: 2;
}

.ul-container{
    display: grid;
    padding: 50px 0 0 0;
    box-sizing:border-box;
}

.nav-header ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-header ul li{
    padding: 0 50px 0 50px;
}

.nav-header ul li a:hover{
    color: var(--my-secondary-color);
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--my-light-color);
    text-transform: uppercase;
    font-weight: bold;
}

.logo img{
    width: 225px;
    position: relative;
    top: -26px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#btn-login{
    padding: 15px 30px 15px 30px;
    position: relative;
    top: -25px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--my-secondary-color);
    color: var(--my-primary-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    
}

@media only screen and (min-width:1920px) {
    body {
        /* overflow: hidden; */
    }
    .logo img{
        width: 325px;
        top: -40px;
    }

    .nav-header{
        box-sizing: border-box;
    }

    .nav-header ul li{
        padding: 0 80px 0 80px;
        font-size: 1.4rem;
    }

    #btn-login{
        padding: 10px 30px 10px 30px;
        font-size: 1.2rem;
    }
}