:root{
    --my-primary-color: #023047;
    --my-secondary-color: #ffb703;
    --my-light-color: #e8e8e8;
}

body{
    background-color: var(--my-light-color);
}


h1{
    font-weight: bold;
}

.title{
    padding-bottom: 25px;
}
.text-fill{
    font-size: 1.4rem;
}
.strong{
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 35px;
}

h1,p{
    color: var(--my-primary-color);
}

.my-button{
    background-color: var(--my-secondary-color);
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--my-primary-color);
    text-decoration: none;
}

.all-contain{
    min-height: calc(100vh - 92px - 130px);
    height: 100vh;
}

.call-to-action{
    width: 50%;
    position: relative;
    top: 20%;
    left: 5%;
}

.my-img-contain{
    margin: 0;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 50%;
}

.my-img{
    width: 600px;
}

.pun-vertical{
    position: absolute;
    height: 100px;
    z-index: 0;
    top: 10%;
    left: 13%;
}

.pun-horizontal{
    position: absolute;
    width: 100px;
    z-index: 0;
    top: 65%;
    left: 70%;
}

@media only screen and (min-width:1920px) {
    h1{
        font-size: 3rem;
    }

    .call-to-action{
        width: 45%;
        position: absolute;
        top: 35%;
        left: 5%;
        
    }
    .texto-fill{
        font-size: 2rem
    }
    .strong{
        font-size: 2.2rem;
    }
    .my-button{
        padding: 15px 35px 15px 35px;
        font-size: 2rem;
    }

    .my-img-contain{
        top: 23.5%;
        left: 50%;
    }
    .my-img{
        width: 820px;
    }
    .pun-vertical{
        height: 150px;
        top: 15%;
        left: 7%;
    }
    .pun-horizontal{
        width: 150px;
        top: 65%;
        left: 72.5%;
    }
}

@media only screen and (max-width:1280px) {
    .call-to-action{
        width: 55%;
        top: 5%;
        left: 25%;
        text-align: center;
    }
    .strong{
        margin-bottom: 35px;
    }

    .my-img-contain{
        width: 40%;
        top: 55%;
        left: 35%;

    }

    .my-img{
        min-width: 100%;
        min-height: 100%;
    }
}
