:root{
    --my-primary-color: #023047;
    --my-secondary-color: #ffb703;
    --my-light-color: #e8e8e8;
}

.title-login{
    text-transform: uppercase;
    padding:  10px 0 0 0;
}

.login-page-contain{
    height: calc( 100vh - 92px - 130px);
}

.model-contain{
    position: relative;
}
.model-2{
    position: fixed;
    width: 260px;
    z-index: 1;
    left: 15%;
    top: 15%;
}
.behind-figures{
    position: fixed;
    width: 450px;
    top: 20%;
    left: 7%;
}


.form-contain{
    position: relative;
    display: grid;
    text-align: center;
    float: right;
    left: -15%;
}

.campo-email, .campo-password{
    background-color: var(--my-light-color);
    border: 5px solid var(--my-secondary-color);
    border-radius: 50px;
    display: grid;
    text-align: center;
    color: var(--my-primary-color);
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 4px 10px -2px rgba(128, 128, 128, 0.76);
    padding: 5px 0 5px 0;
    width: 400px;
}

.text-email{
    font-weight: bold;
    font-size: 1.2rem;
    padding:  0 0 10px 0;
    color: var(--my-primary-color);
}

.text-password{
    font-weight: bold;
    font-size: 1.2rem;
    padding:  10px 0 10px 0;
    color: var(--my-primary-color);
}

.btn-send{
    margin: 20px 0 20px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    border: none;
    color: var(--my-primary-color);
    background-color: var(--my-secondary-color)
}

.bi-eye-fill, .bi-eye-slash-fill{
    font-size: 1.5rem;
    position: fixed;
    top: 45.5%;
    color: var(--my-primary-color);
}



@media only screen and (min-width:1920px) {
    .model-2{
        width: 420px;
        z-index: 1;
        left: 15%;
        top: 15%;
    }
    .behind-figures{
        top: 25%;
        left: 6%;
        width: 700px;
    }
    
    .form-contain{
        width: 50%;
        display: flex;
        left: 1%;
        top: 10%;
    }
    .title-login{
        font-size: 4rem;
    }
    .text-email, .text-password{
        font-size: 2rem;
    }
    .campo-email,.campo-password{
        width: 500px;
    }
}