.all-track-container{
    min-height: calc( 100vh - 92px - 130px);
    max-height: 100%;
    box-sizing: border-box;
}

.model4{
    width: 250px;
    position: fixed;
    top: 15%;
    left: 70%;
}
.vertical-points{
    height: 100px;
    position: fixed;
    top: 22.5%;
    left: 65.5%;
}
.horizontal-points{
    width: 100px;
    position: fixed;
    top: 60%;
    left: 88.5%;
}

.track-search-container{
    display: grid;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 50%;

}

.title-track{
   width: 1000px; 
   position: absolute;
   top: 22.5%;
   left: 3%;
}

.campo-track{
    width: 600px;
    display: grid;
    background-color: var(--my-light-color);
    border: 10px solid var(--my-secondary-color);
    border-radius: 50px;
    padding: 15px;
    position: fixed;
    top: 40%;
    left: 10%;
    text-align: center;
    outline: none;
}

.bi-search{
    font-size: 1.4rem;
    color: var(--my-primary-color);
    position: absolute;
    top: 43%;
    left: 50%;
}




@media only screen and (min-width:1920px){

    .title-track{
        font-size: 3.2rem;
        left: 6%;
    }
    .model4{
        width: 400px;
        top: 15%;
        left: 67%;
    
    }

    .vertical-points{
        height: 150px;
        top: 25%;
    }

    .horizontal-points{
        min-width: 150px;
        top: 70%;
        left: 87%;
    }

    .campo-track{
        width: 820px;
        top: 41%;
    }

    .btn-track{
        padding: 25px 100px 25px 100px;
        font-size: 1.6rem;
        top: 62.5%;
        left: 22.5%;
    }

    
}

@media only screen and (max-width:1280px){
    .model4{
        width: 350px;
        top: 18%;
        left: 65%;
    }

    .vertical-points{
        top: 30%;
    }

    .horizontal-points{
        top: 75%;
        left: 89.5%;
    }

    .bi-search{
        top: 42.5%;
        left: 53%;
    }
}